.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    color: #49557e;
    gap: 20px;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid tomato;
    border-radius: 50px;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .navbar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-profile img:hover {
    transform: scale(1.1);
  }
  
  /* Dropdown styles */
  .nav-profile-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 10;
  }
  
  .navbar-profile:hover .nav-profile-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-profile-dropdown li {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .nav-profile-dropdown li:hover {
    color: tomato;
  }
  
  .nav-profile-dropdown img {
    width: 20px;
    height: 20px;
  }
  


@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}



@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:750px) {
    
    .navbar-menu{
       display: none;
    }
     
}